.feed-wrapper{


	.feed{
		position: relative;
		width: 600px;
		height: 400px;
		margin: 0 auto;
		overflow: hidden;
		background-color: $white;

		.posts-list{
			width: 100%;
			height: 100%;
			background-color: $accent;

		}

		.post{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			img{
				width: 100%;
			}
		}

	}

}