<<<<<<< HEAD
=======
header{
	height: 100px;
}

header, main, section, aside{
	border: 1px solid black;
}

>>>>>>> f94ec2283e68eb25b9f54f2434bef7fc4885f40f
main{
	height: calc(100vh - 100px);
	display: flex;
}

aside{
	flex-basis: 300px;
}

section{
	flex-grow: 1;
}