// RESET

* {
  padding: 0;
	margin: 0;
	background-color: $black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// BASE


h1, h2, h3, h4, p, a, span, div{	
	@include font($ff: $sora, $fs: .95em, $fw: normal, $ls: normal, $lh: normal, $c: $white);
}

a{
	text-decoration: none;
	&:hover{
		color: $accent;
	}
}

li{
	list-style-type: none;
}
